body::before {
  display: block;
  content: " ";
  height: 60px;
}

@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}

/* Navbar */
#logo-font {
  font-size: 29.26px;
  font-family: "Fredoka One";
}

#btn-login {
  width: 100px;
}

/* Carousel */
.carousel-item {
  max-height: 32rem;
  background-size: cover;
  background-position: center;
}

.carousel-item::before{
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000;
  opacity: 0.7;
}

.carousel-caption{
  bottom: 80px;
  padding-left: 100px;
  padding-right: 100px;
}

.slider-btn{
  margin-top: 30px;
}

/* Text Section */

.div-img{
  background-size: cover;
  background-position: center;
}

/* Dark Mode */
.dark_mode {
  background-color: rgb(28, 28, 28);

}

.dark_mode div p {
  color: yellowgreen !important;
}

.dark_mode div h6  {
  color: yellowgreen !important;
}

.dark_mode div h5  {
  color: yellowgreen !important;
}

.dark_mode div h4  {
  color: yellowgreen !important;
}

.dark_mode div h3  {
  color: yellowgreen !important;
}

.dark_mode div h2  {
  color: yellowgreen !important;
}

.dark_mode div h1  {
  color: yellowgreen !important;
}

.dark_mode div a  {
  color: yellowgreen !important;
}

.dark_mode #btn_send_form {
  color: yellowgreen;
}

